{% if errors == -1 %}
{% else %}
    <div class="alert alert-danger" role="alert">
        {{ session['logedin'] }}
        <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    </div>
{% endif %}
