{% extends "layouts/base.twig" %}

{% block title %}Home{% endblock %}

{% block head %}
    
{% endblock %}

{% block content %}
    <section class="py-5">
        <div class="container">
            {{ parent() }}
        </div>
    </section>
{% endblock %}