{% extends "layouts/nohero.twig" %}

{% block title %}تسجيل الدخول{% endblock %}

{% block head %}
    
{% endblock %}

{% block content %}
    <section class="py-5">
        {{ parent() }}
        <div class="container">
            <h1 align="right">تسجيل الدخول</h1>
            <form method="post" action="mvc/controllers/userController.php" novalidate="novalidate">
                <div class="form-group">
                    <p align="right">اسم المستخدم</p><input type="text" name="username" class="form-control" required data-validation-required-message="المرجو ادخال اسم المستخدم">
                    <p class="help-block text-danger"></p>
                </div>
                <div class="form-group">
                    <p align="right">كلمة المرور</p><input type="password" name="password" class="form-control" required data-validation-required-message="المرجو ادخال كلمة المرور">
                    <p class="help-block text-danger"></p>
                </div>
                <input type="submit" class="btn btn-primary" value="تسجيل الدخول">
                <input type="hidden" name="route" value="login">
            </form>
        </div>
    </section>
{% endblock %}