{% extends "layouts/nohero.twig" %}

{% block title %}Home{% endblock %}

{% block head %}
    
{% endblock %}

{% block content %}
    <section class="py-5">
        {{ parent() }}
        <div class="container">
            <h1>تسجيل الدخول</h1>
            <form method="post" action="mvc/controllers/userController.php">
                <div class="form-group">
                    username :<input type="text" name="username" class="form-control">
                </div>
                <div class="form-group">
                    password :<input type="password" name="password" class="form-control">
                </div>
                <input type="submit" class="btn btn-primary" value="login">
                <input type="hidden" name="route" value="login">
            </form>
        </div>
    </section>
{% endblock %}